<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "fibonacci.game.app"
        versionCode = "20" 
        version     = "2.2.0" >
        
    <name>Fibonacci Clean</name>
    
    <description>
      A cool, simple, elegant clock.
    </description>
    
    
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <icon src="icon.png" />

    </widget>
